<!-- <div
  class="monamo__wrapper justify-content-center align-items-center mx-auto px-auto"
>
  <div class="monamo__maintentance--card mb-2 mt-2">
    <img
      style="max-width: 11em;"
      src="../assets/Monamo_logo.png"
      alt="monamo-logo"
    />
    <h2 class="mt-5 monamo__maintenance--text">ATSINAUJINA</h2>
  </div>

  <div
    class="monamo__contact-info justify-content-around align-items-center mt-2"
  >
    <div class="monamo__telephone justify-content-center align-items-center">
      <p>
        <a class="monamo__contact-link" href="tel:+37060778250">
          +37060778250
        </a>
        <fa-icon [icon]="faMobile" class="fa__icon mx-2"></fa-icon>
      </p>
    </div>
    <div class="monamo__email justify-content-center align-items-center">
      <p>
        <a class="monamo__contact-link" href="mailto:statyba@monamo.lt">
          statyba@monamo.lt
        </a>
        <fa-icon [icon]="faEnvelope" class="fa__icon mx-2"></fa-icon>
      </p>
    </div>
    <div
      class="monamo__physical-address justify-content-center align-items-center"
    >
      <p class="monamo__contact-link">
        Perkūnkiemio g. 4A, Vilnius
        <fa-icon [icon]="faMapMarked" class="fa__icon mx-2"></fa-icon>
      </p>
    </div>
  </div>
</div> -->
<div class="monamo__wrapper container text-center mx-auto">
  <div class="monamo__maintenance--card container justify-content-center">
    <span class="monamo__border-top"></span>
    <div class="row pt-3 justify-content-center mx-auto">
      <img style="max-width: 11em; max-height: 6em;" src="../assets/Monamo_logo.png" alt="monamo-logo" />
    </div>
    <div class="row justify-content-center mx-auto">
      <h2 class="mt-4 mb-0 monamo__maintenance--text">ATSINAUJINA</h2>
    </div>
    <span class="monamo__border-bottom"></span>
  </div>
</div>

  <div class="container-fluid mt-5">
    <div class="row justify-content-center">
      <div class="col-md-4 text-center mb-3">
        <a class="monamo__contact-link align-items-center d-inline-block" href="tel:+37060778250">
          <i class="monamo__contact-link--icon material-icons mr-2 float-left">local_phone</i>
          <p class="float-right">+37060778250</p>
        </a>
      </div>
      <div class="col-md-4 text-center mb-3">
        <a class="monamo__contact-link align-items-center d-inline-block" href="mailto:statyba@monamo.lt">
          <i class="monamo__contact-link--icon material-icons mr-2 float-left">email</i>
          <p class="float-right">statyba@monamo.lt</p>
        </a>
      </div>
      <div class="col-md-4 text-center mb-3">
        <a class="monamo__contact-link align-items-center sm-align d-inline-block" target="_blank" href="https://www.google.com/maps/place/Perk%C5%ABnkiemio+g.+4A,+Vilnius+12130/@54.7411254,25.2207886,17z/data=!3m1!4b1!4m5!3m4!1s0x46dd91a16ee12fa1:0x7c5254037648387e!8m2!3d54.7411254!4d25.2229773">
          <i class="monamo__contact-link--icon material-icons mr-2 float-left">360</i>
          <p class="float-right">Perkūnkiemio g. 4A, Vilnius</p>
        </a>
      </div>
    </div>
  </div>
