.monamo__maintenance--text {
  color: rgb(110, 97, 97);
  font-weight: 300;
}

.monamo__wrapper {
  width: 100vw;
  height: 100vh;

  font-family: "Ubuntu";

  z-index: 0;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1em;
}

.monamo__maintentance--card {
  grid-column: 2 / span 3;
  grid-row: 2 / span 1;

  padding: 3em;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top: 1px solid rgb(136, 100, 46);
  border-bottom: 1px solid rgb(136, 100, 46);
}

.monamo__contact-info {
  grid-column: 2 / span 3;
  grid-row: 3 / span 3;

  padding: 2em;
  align-items: center;
  justify-content: end;
  text-align: center;
  color: rgb(110, 97, 97);
  z-index: 1;
  font-size: calc(0.8em + 5%);
}

.fa__icon {
  float: left;
}

.monamo__contact-link {
  color: rgb(110, 97, 97);
  text-decoration: none;
}

.monamo__telephone:hover,
.monamo__email:hover {
  color: rgb(182, 169, 95);
  cursor: pointer;
}

@media only screen and (min-width: 765px) {
  .monamo__maintentance--card {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
  }

  .monamo__contact-info {
    display: flex;

    grid-column: 1 / span 5;
    grid-row: 3 / span 1;
  }
}

@media only screen and (min-width: 850px) {
  .monamo__email {
    margin-left: 6em;
  }
}
