.monamo__maintenance--text {
  color: rgb(110, 97, 97);
  font-size: calc(1.75em + 2%);
}

.monamo__wrapper {
  font-family: "Ubuntu";
}

.monamo__maintentance--card {
  padding: 2em 0 2em 0;
  margin: 2em 0 2em 0;
}

.monamo__border-top {
  display: inline-block;
  width: calc(15em + 2%);
  border-top: 1px solid rgb(136, 100, 46);
}

.monamo__border-bottom {
  display: inline-block;
  width: calc(15em + 2%);
  border-bottom: 1px solid rgb(136, 100, 46);
}

.monamo__contact-link {
  text-decoration: none;
  color: rgb(61, 59, 59);
  font-size: 0.85em;
}

.monamo__contact-link:hover {
    color: rgb(95, 110, 141);
}
