<div
  class="monamo__wrapper justify-content-center align-items-center mx-auto px-auto"
>
  <div class="monamo__maintentance--card">
    <img
      style="max-width: 11em;"
      src="../assets/Monamo_logo.png"
      alt="monamo-logo"
    />
    <h2 class="mt-5 monamo__maintenance--text">ATSINAUJINA</h2>
  </div>

  <div class="monamo__contact-info justify-content-around align-items-center">
    <div class="monamo__telephone justify-content-center align-items-center">
      <p>
        <a class="monamo__contact-link" href="tel:+37060778250">
          +37060778250
        </a>
        <fa-icon [icon]="faMobile" class="fa__icon mx-2"></fa-icon>
      </p>
    </div>
    <div class="monamo__email justify-content-center align-items-center">
      <p>
        <a class="monamo__contact-link" href="mailto:statyba@monamo.lt">
          statyba@monamo.lt
        </a>
        <fa-icon [icon]="faEnvelope" class="fa__icon mx-2"></fa-icon>
      </p>
    </div>
    <div
      class="monamo__physical-address justify-content-center align-items-center"
    >
      <p class="monamo__contact-link">
        Perkūnkiemio g. 4A, Vilnius
        <fa-icon [icon]="faMapMarked" class="fa__icon mx-2"></fa-icon>
      </p>
    </div>
  </div>
</div>
